lm/lm/tema6/dtd/personas/personas.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE personas [
<!ELEMENT personas (persona+)>
<!ELEMENT persona (nombre,mayor_de_edad?, ciudad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT mayor_de_edad EMPTY>
<!ELEMENT ciudad (#PCDATA)>
]>

<personas>
<persona>
      <nombre>july</nombre>
      <mayor_de_edad/>
      <ciudad>malaga</ciudad>
  </persona>
  <persona>
      <nombre>dora</nombre>
      <ciudad>malaga</ciudad>
  </persona>

</personas>
